<launch>
  
    <node pkg="svo_ros" exec="vo_node" output="screen">
    
        <!-- Camera topic to subscribe to -->
        <param name="cam_topic" value="/camera/image_raw" type="str" />
        
        <!-- Camera calibration file -->
        <param from="$(find-pkg-share svo_ros)/param/camera_atan.yaml" />
        
        <!-- Default parameter settings: choose between vo_fast and vo_accurate -->
        <param from="$(find-pkg-share svo_ros)/param/vo_fast.yaml" />

    </node>
        
</launch>
